output_image.png
.env
__pycache__/
# Exclude system directories and files
AppData/
Application Data/
Cookies/
Documents/My Music/
Documents/My Pictures/
Documents/My Videos/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Start Menu/
Templates/
